html {
  overflow-x: hidden;
  overflow-y: scroll;
}
body {
  color: #153947;
  background-color: #f2f4f5;
}
to-do {
  display: inline-block;
  color: #fff;
  background-color: #153947;
}
to-do a:hover {
  color: #fff;
}
.text-success {
  color: #2db388;
}
.text-danger {
  color: #fd755f;
}
.body-content {
  margin-top: 105px;
  overflow: hidden;
}
.summary-content {
  overflow: hidden;
}
@media (min-width: 992px) {
  .summary-content {
    margin-top: 105px;
  }
}
@media (max-width: 992px) {
  .summary-content {
    margin-top: 30px;
  }
  .summary-content:before {
    content: '';
    display: block;
    height: 45px;
    border-top: 2px dotted #153947;
  }
}
input::-webkit-inner-spin-button {
  opacity: 1;
}
#ckoFramesContainer {
  margin: 15px 0px;
}
#ckoFramesContainer > iframe {
  position: relative !important;
}
.list-group-item {
  background: none;
}
.to-do .list-group-item {
  border: none;
  padding: 10px 15px 10px 0px;
}
.panel {
  box-shadow: none;
  background: none;
}
.panel-default {
  border: none;
}
.panel-default > .panel-heading {
  background: none;
  border: none;
  font-family: 'Times New Roman';
}
.panel-default > .panel-heading > .panel-title {
  color: #153947;
  font-size: 2em;
}
shop {
  display: block;
  margin-left: -15px;
  margin-right: -15px;
}
shop .product {
  margin-bottom: 15px;
  padding: 15px;
  border: solid 1px #f8f8f8;
  box-shadow: rgba(121, 131, 149, 0.2) 0px 1px 3px 0px;
  background: #fff;
  border-radius: 4px;
}
shop .product div:not(.product-img) p {
  text-align: justify;
}
shop .product div:not(.product-description) p {
  line-height: 2em;
}
shop .product-img {
  text-align: center;
}
shop .product-img img {
  max-width: 70%;
}
shop .product-name {
  background: none;
  border: none;
  font-family: 'Times New Roman';
  font-size: 1.5em;
}
shop .product-id {
  color: #aab3c2;
  font-size: 0.8em;
}
shop .product-price {
  font-size: 1.2em;
}
shop .product-adder .form-inline {
  display: flex;
}
shop .product-adder .form-inline input {
  width: 20%;
  height: unset;
  border-radius: 4px 0px 0px 4px;
  text-align: right;
}
shop .product-adder .form-inline button {
  width: 80%;
  border-radius: 0px 4px 4px 0px;
}
shop .product-description {
  margin-top: 15px;
}
shop .product span {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
shop .product:hover span {
  white-space: normal;
}
a {
  color: #fd755f;
  text-decoration: underline;
}
a:hover {
  color: #153947;
}
.nav-content {
  z-index: 1;
  position: fixed;
  width: -webkit-fill-available;
}
.navbar {
  background-color: #153947;
  border-radius: unset;
  border: none;
  min-height: 90px;
  margin: 0px;
}
.navbar-collapse {
  padding: 0px;
  border: none;
}
.navbar ul.nav {
  text-align: center;
  width: 100%;
}
.navbar ul.nav > li {
  width: calc(33.33333333%);
  height: 60px;
  margin-bottom: 15px;
  box-shadow: 0px 1px white;
}
.navbar ul.nav > li > a {
  display: inline-block;
  padding: 0px;
  width: 100%;
  height: inherit;
  color: #fff;
}
.navbar ul.nav > li > a > div {
  padding: 0px 15px;
  display: inline-block;
  min-width: 60px;
  height: 60px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.navbar ul.nav > li > a > div span {
  display: block;
  line-height: 60px;
}
.navbar ul.nav > li > a:hover {
  background: none;
}
.navbar ul.nav > li:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  height: 10px;
  width: 10px;
  border-radius: 15px;
  z-index: 1;
  border: 8px solid #153947;
  box-sizing: unset;
  cursor: pointer;
}
.navbar ul.nav > li:not(.complete):after {
  background-color: #fd755f;
}
.navbar ul.nav > li.complete:after {
  background: linear-gradient(to top, #2aab82, #2db388);
}
.navbar ul.nav > li.link-active:after {
  box-shadow: 0px 0px 0 2px #fff;
}
.navbar ul.nav > li:not(.link-active) a {
  font-size: 1em;
  will-change: font-size;
  transition: font-size 50ms ease-in;
}
.navbar ul.nav > li:not(.link-active):after {
  box-shadow: 0px 0px 0 2px #153947;
}
.navbar ul.nav > li:not(.link-active):hover a {
  font-size: 1.3em;
}
.navbar ul.nav > li:not(.link-active):hover:after {
  box-shadow: 0px 0px 0 2px #fff;
}
.navbar ul.nav > li.link-active a {
  text-transform: uppercase;
  font-size: 1.3em;
}
a:focus {
  background: none !important;
}
.cart-total {
  font-size: 1.1em;
}
.badge {
  font-weight: normal;
}
.badge-button {
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}
.badge-button:active {
  box-shadow: inset 0 3px 5px rgba(121, 131, 149, 0.2) 0px 1px 3px 0px;
}
.badge-default {
  background-color: #f8f8f8;
  color: #153947;
}
.badge-default.badge-button:hover {
  background-color: #ebebeb;
}
.badge-info {
  background-color: #d8e8ed;
  color: #153947;
}
.badge-info.badge-button:hover {
  background-color: #8c98ad;
}
.badge-success {
  background-color: #2db388;
}
.badge-danger {
  background-color: #fcbab0;
}
.btn {
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
}
.btn:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.6);
}
.btn > span {
  display: inline-block;
  vertical-align: middle;
}
.btn-default,
.btn-default:focus,
.btn-default[disabled]:hover {
  border-color: #dfe7eb;
  background-color: #fff;
  color: #7b8d93;
  box-shadow: rgba(123, 141, 147, 0.15) 0px 1px 3px 0px;
}
.btn-default:hover,
.btn-default:active,
.btn-default:active:focus {
  border-color: #d0d8db;
  background-color: #fff;
  color: #2db388;
  box-shadow: rgba(123, 141, 147, 0.25) 0px 2px 5px 0px;
}
.btn-info,
.btn-info:focus,
.btn-info[disabled]:hover {
  border-color: #aab3c2;
  background-color: #aab3c2;
  color: #fff;
}
.btn-info:hover,
.btn-info:active,
.btn-info:active:focus,
.btn-info:active:hover {
  border-color: #aab3c2;
  background-color: #aab3c2;
  color: #fff;
}
.btn-success,
.btn-success:focus {
  border-color: transparent;
  background: linear-gradient(to top, #2aab82, #2db388);
  color: #fff;
  box-shadow: rgba(45, 179, 136, 0.45) 0px 1px 3px 0px;
}
.btn-success[disabled],
.btn-success[disabled]:hover {
  border-color: #2db388;
  background: none;
  color: #2db388;
  box-shadow: none;
}
.btn-success:hover,
.btn-success:active,
.btn-success:active:focus,
.btn-success:active:hover {
  border-color: transparent;
  background: linear-gradient(to top, #2fbd90, #2fbd90);
  color: #fff;
  box-shadow: rgba(45, 179, 136, 0.45) 0px 2px 5px 0px;
}
.btn-danger,
.btn-danger:focus,
.btn-danger[disabled]:hover {
  border: #fd9382;
  background-color: #fd9382;
  color: #fff;
}
.btn-danger:hover,
.btn-danger:active,
.btn-danger:active:focus {
  border: #fd755f;
  background-color: #fd755f;
  color: #fff;
}
table.table {
  margin: 0px;
}
table .btn {
  font-size: 0.8em;
}
td > table {
  display: inline-block;
}
.well {
  box-shadow: none;
  border: solid 1px #aab3c2;
  background: none;
}
.nav-pills > li.active > a {
  background-color: #aab3c2;
}
.nav-pills > li.active > a:hover {
  background-color: #aab3c2;
}
cart,
cart-summary {
  display: inline-block;
  width: 100%;
  text-align: center;
}
cart .cart-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding: 15px;
  border-radius: 4px;
}
cart .cart-container input {
  width: 4em;
  display: inline-block;
}
cart table#cart,
cart-summary table#cart {
  font-size: 0.8em;
}
cart table#cart .glyphicon-remove-circle,
cart-summary table#cart .glyphicon-remove-circle {
  color: #fd755f;
  cursor: pointer;
}
cart table#cart .glyphicon-remove-circle:hover,
cart-summary table#cart .glyphicon-remove-circle:hover {
  color: #fc4a2d;
}
cart table#cart > tbody > tr img,
cart-summary table#cart > tbody > tr img {
  border-radius: 4px;
  min-width: 10%;
  max-height: 10%;
}
cart table#cart > tbody > tr > td.product-unit-pricing > table > tbody > tr,
cart-summary table#cart > tbody > tr > td.product-unit-pricing > table > tbody > tr {
  color: #aab3c2;
}
cart table#cart > tbody > tr > td.product-unit-pricing > table > tfoot > tr > th,
cart-summary table#cart > tbody > tr > td.product-unit-pricing > table > tfoot > tr > th {
  color: #aab3c2;
  font-size: 1.2em;
  text-align: right;
}
cart table#cart > tbody > tr > td.product-total-pricing > table > tbody > tr,
cart-summary table#cart > tbody > tr > td.product-total-pricing > table > tbody > tr {
  color: #aab3c2;
}
cart table#cart > tbody > tr > td.product-total-pricing > table > tfoot > tr > th,
cart-summary table#cart > tbody > tr > td.product-total-pricing > table > tfoot > tr > th {
  font-size: 1.2em;
  text-align: right;
}
cart table#cart > tfoot > tr:not(:last-child) > td,
cart-summary table#cart > tfoot > tr:not(:last-child) > td {
  font-size: 1.1em;
  text-align: right;
  vertical-align: middle;
}
cart table#cart > tfoot > tr:last-child > th,
cart-summary table#cart > tfoot > tr:last-child > th {
  font-size: 1.6em;
  text-align: right;
  vertical-align: middle;
}
order > div.summary-card-collapsed {
  display: none;
}
.list-group-item.active {
  background-color: #153947;
}
cart .form-group {
  width: 4em;
  margin: 0px;
}
cart .form-group input {
  font-weight: normal !important;
  font-size: 1em;
  padding: 6px 4px;
  text-align: right;
}
billing-summary p,
shipping-summary p {
  margin: 0px;
}
summary #cartSummary {
  margin-top: calc(30px);
  background-color: #fff;
  border-radius: 4px;
  padding: 15px;
  border-color: #f8f8f8;
  box-shadow: rgba(121, 131, 149, 0.2) 0px 1px 3px 0px;
}
login .addresses-container {
  background-color: #fff;
  border: 1px solid #f8f8f8;
  box-shadow: rgba(121, 131, 149, 0.2) 0px 1px 3px 0px;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  margin-bottom: 15px;
}
login .addresses-container:not(.active):hover {
  color: #2db388;
}
login .addresses-container.active {
  background: linear-gradient(to top, #2aab82, #2db388);
  color: #fff;
}
login .addresses-container .addresses-frame {
  display: flex;
  position: relative;
  left: -100%;
  transform: translateX(100%);
}
login .addresses-container .addresses-frame.is-reversing {
  transform: translateX(-100%);
}
login .addresses-container .addresses-frame.is-set {
  transform: none;
  transition: transform 500ms cubic-bezier(0.23, 1, 0.32, 1);
}
login .addresses-container .address-nav {
  position: absolute;
  top: calc(40%);
  color: #153947;
  background: none;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  border-radius: 20px;
  z-index: 1;
  font-size: 0.8em;
}
login .addresses-container .address-nav:first-child {
  left: 10px;
}
login .addresses-container .address-nav:last-child {
  right: 10px;
}
login .addresses-container .address-nav:hover {
  background-color: #fff;
}
login .addresses-container .address {
  padding: 10px 40px;
  flex: 1 0 100%;
  order: 2;
  vertical-align: middle;
}
login .addresses-container .address.is-ref {
  order: 1;
}
login .addresses-container .address p {
  margin: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
login .list-group-item {
  user-select: none;
  cursor: pointer;
  border: 1px solid #f8f8f8;
  box-shadow: rgba(121, 131, 149, 0.2) 0px 1px 3px 0px;
  margin-bottom: 5px;
}
login .list-group-item.active {
  z-index: unset;
  background: linear-gradient(to top, #2aab82, #2db388);
  border-color: #f8f8f8;
}
login .list-group-item:not(.active):hover {
  background: #fff;
  color: #2db388;
}
login .list-group-item.active:hover {
  background: linear-gradient(to top, #2aab82, #2db388);
  border-color: #f8f8f8;
}
@media (min-width: 768px) {
  customer #billing,
  customer-summary #billing {
    padding-right: 15px;
    padding-left: 0px;
  }
  customer #shipping,
  customer-summary #shipping {
    padding-left: 15px;
    padding-right: 0px;
  }
}
@media (max-width: 767px) {
  customer #billing,
  customer-summary #billing {
    padding-left: 0px;
    padding-right: 0px;
  }
  customer #shipping,
  customer-summary #shipping {
    margin-top: 30px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
customer p:first-child > strong,
customer-summary p:first-child > strong {
  color: #aab3c2;
}
customer #billing > div,
customer-summary #billing > div,
customer #shipping > div,
customer-summary #shipping > div {
  background-color: #fff;
  padding: 15px;
  border-radius: 4px;
  border: solid 1px #f8f8f8;
  box-shadow: rgba(121, 131, 149, 0.2) 0px 1px 3px 0px;
}
customer form .form-control,
customer-summary form .form-control {
  margin-bottom: 10px;
  border: 1px solid #aab3c2;
  background: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}
customer > div > p,
customer-summary > div > p {
  margin-bottom: 15px;
  line-height: 1em;
  font-weight: bold;
  color: #aab3c2;
}
customer > div > p button,
customer-summary > div > p button {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
customer label,
customer-summary label {
  margin: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
customer #firstname,
customer-summary #firstname,
customer #streetname,
customer-summary #streetname,
customer #postcode,
customer-summary #postcode {
  border-radius: 4px 0px 0px 4px;
}
customer #lastname,
customer-summary #lastname,
customer #housenumber,
customer-summary #housenumber,
customer #city,
customer-summary #city {
  border-radius: 0px 4px 4px 0px;
}
.component {
  box-sizing: border-box;
  padding: 15px 0px;
  border-radius: 4px;
  border-style: solid;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 3px;
  border-color: rgba(0, 0, 0, 0);
  will-change: border-color;
  transition: border-color 300ms ease-out, box-shadow 300ms ease-out;
  background-color: #fff;
  box-shadow: rgba(121, 131, 149, 0.2) 0px 1px 3px 0px;
}
.component-default {
  border-color: #153947;
}
.component-info {
  border-color: #f8f8f8;
}
.component-success {
  border-color: #2db388;
}
.component-warning {
  border-color: #fcbab0;
}
cart-summary > .component {
  padding: 15px;
}
#gtc {
  margin-bottom: 15px;
}
#paymentMethods .paymentMethod {
  list-style: none;
  display: inline-block;
  margin: 15px;
}
#paymentMethods .paymentMethod div {
  height: 60px;
  width: 60px;
  background-size: 90%;
  background-position: center;
  background-color: #fff;
  background-repeat: no-repeat;
  border-width: 1px;
  border-style: solid;
  border-color: #ddd6d0;
  border-radius: 4px;
  filter: grayscale(100%);
  cursor: pointer;
  will-change: filter, border-color;
  transition: filter 100ms ease-out, border-color 100ms ease-out;
}
#paymentMethods .paymentMethod div.active {
  filter: grayscale(0%);
  border-color: #153947;
}
#paymentMethods .paymentMethod div:hover {
  filter: grayscale(0%);
}
dashboard .dashboard-container {
  font-family: monospace;
  background-color: #f8f8f8;
  height: -webkit-fill-available;
  font-size: 0.8em;
}
dashboard .dashboard-container > div:not(.log) {
  position: sticky;
  top: 100px;
}
dashboard .dashboard-container > div:not(.log) li {
  display: inline-block;
  width: -webkit-fill-available;
}
dashboard .dashboard-container > div:not(.log) li .badge {
  float: unset;
}
dashboard .dashboard-container > div.log li {
  background: none;
  border: none;
  padding: 5px;
}
dashboard .dashboard-container > div.log li .badge {
  float: unset;
}
ul.to-do {
  text-align: left;
  font-size: 0.8em;
}
