@black: #000;
@white: #fff;

@cko-dune: #ddd6d0;
@cko-dove-grey: #f8f8f8;
@cko-deep-green: #038b61;
@cko-bright-green: #00e59e;
@cko-midnight-blue: #013a51;
@cko-storm-blue: #aab3c2;
@cko-ocean-blue: #00aeef;
@cko-sky-blue: #d8e8ed;
@cko-coral: #fd755f;
@cko-rose: #fcbab0;

html, body {
    color: @cko-midnight-blue;

}

.panel {
    box-shadow: none;
    background: none;

    &-default {
        border: none;
    }

    &-default > &-heading {
        background: none;
        border: none;
        font-family: 'Times New Roman';
    }

    &-default > &-heading > &-title {
        color: @cko-midnight-blue;
        font-size: 2em;
    }
}

.product {
    margin-bottom: 20px;
    padding: 15px;
    border: solid 1px @cko-dove-grey;
    box-shadow: @cko-dove-grey 0px 2px 0px 1px;
    border-radius: 4px;

    &-title div {
        line-height: 2em;
    }

    &-name {
        background: none;
        border: none;
        font-family: 'Times New Roman';
        font-size: 2em;
    }

    & div, & span, & p {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

a {
    &, &:hover {
        color: @cko-midnight-blue;
    }

}

.navbar {
    background-color: @cko-dove-grey;

    &-collapse {
        border-top: 1px solid @cko-dune !important;
    }
}

li.link-active a {
    background-color: @cko-storm-blue !important;
    color: @cko-midnight-blue !important;

}

.cart-total {
    font-size: 1.1em;

}

.badge {
    background-color: @cko-midnight-blue;
    color: @white;
    font-weight: normal;

    &-info {
        background-color: @cko-dune;
        color: @cko-midnight-blue;
    }

    &-success {
        background-color: @cko-bright-green;
    }

    &-danger {
        background-color: @cko-rose;
    }

    #debug & {
        font-family: monospace;
        font-size: 0.7em;
    }
}

.btn {
    &:active {
        box-shadow: inset 0 3px 5px fade(@black, 60%);
    }

    &:focus {
        outline: none !important;
    }

    &-default {
        &, &:focus, &[disabled]:hover {
            border: none;
            background-color: @cko-midnight-blue;
            color: @white;
        }

        &:hover, &:active, &:active:focus {
            border: none;
            background-color: @cko-midnight-blue;
            color: @white;
        }
    }

    &-info {
        &, &:focus, &[disabled]:hover {
            border: none;
            color: @white;
            background-color: @cko-storm-blue;
        }

        &:hover, &:active, &:active:focus {
            border: none;
            color: @white;
            background-color: @cko-storm-blue;
        }
    }

    &-success {
        &, &:focus {
            border: solid 1px @cko-midnight-blue;
            background-color: @cko-midnight-blue;
            color: @cko-bright-green;
        }

        &[disabled] {
            &, &:hover {
                border: solid 1px @cko-midnight-blue;
                background: none;
                color: @cko-midnight-blue;
            }
        }

        &:hover, &:active, &:active:focus, &:active:hover {
            border: solid 1px @cko-bright-green;
            background-color: @cko-bright-green;
            color: @cko-midnight-blue;
        }
    }

    &-danger {
        &, &:focus, &[disabled]:hover {
            border: none;
            color: @white;
            background-color: @cko-coral;
        }

        &:hover, &:active, &:active:focus {
            border: none;
            color: @white;
            background-color: @cko-coral;
        }
    }

    table & {
        font-size: 0.8em;
    }
}


.well  {
    box-shadow: none;
    border: solid 1px @cko-storm-blue;
    background: none;

}

.nav-pills > li.active > a {
    background-color: @cko-storm-blue;

}

.nav-pills > li.active > a:hover {
    background-color: @cko-storm-blue;
}

cart, cart-summary .price-details {
    font-size: 0.8em;
}

cart .glyphicon-plus, cart .glyphicon-minus {
    font-size: 0.6em;
}

cart .form-group {
    width: 4em;
    margin: 0px;

    & input {
        font-weight: normal !important;
        font-size: 1em;
        padding: 6px 4px;
        text-align: right;
    }
}

.component {
    box-sizing: border-box;
    padding-bottom: 15px;
    border-radius: 4px;

    &-default {
        border: solid 1px @cko-storm-blue;
    }

    &-success {
        border: solid 1px @cko-bright-green;
    }

    &-warning {
        border: solid 1px @cko-rose;
    }
}