li > a > .glyphicon {
    margin-right: 10px;
}

/* Keep the nav menu independent of scrolling and on top of other items */
.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.main-nav {
        height: 90px;
        width: 100%;
    }

    .navbar {
        background-color: #013a51;
        border-radius: unset;
    }

    .navbar-collapse {
        padding: 0px;
    }

    .navbar li {
        margin: 15px;
    }

    .navbar a {
        color: #fff !important;
    }
    
    .navbar a:hover {
        color: #013a51 !important;

    }
    

