<div class='main-nav'>
    <div class='navbar'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <li [routerLinkActive]="['link-active']" [class.complete]="customer.order.subTotal > 0">
                    <a [routerLink]="['/shop']">
                        <div>
                            <span>Shop</span>
                        </div>
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']" [class.complete]="customerDetailsComplete">
                    <a [routerLink]="['/customer']">
                        <div>
                            <span>Billing &amp; Shipping</span>
                        </div>
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/summary']">
                        <div>
                            <span>Verify &amp; Pay</span>
                        </div>
                    </a>
                </li>
            </ul>
            <!--ul class="nav navbar-nav pull-right">
                <li>
                    <a>
                        <div>
                            <span>Login</span>
                        </div>
                    </a>
                </li>
            </ul>-->
        </div>
    </div>
</div>
