<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <customer-summary></customer-summary>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="panel-title">Cart</span>
                </div>
                <div class="panel-body">
                    <cart-summary></cart-summary>
                </div>
            </div>
            <div class="col-md-12">
                <cko-solution [cart]="cart" [paymentToken]="paymentToken" [customerDetailsComplete]="customerDetailsComplete"></cko-solution>
            </div>
        </div>
    </div>
</div>
