<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PrototypeShop</title>
    <base href="~/" />

    <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
</head>
<body>
    @RenderBody()

    <script async src="https://cdn.checkout.com/js/frames.js"></script>
    <script async src="https://cdn.checkout.com/sandbox/js/checkout.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
