<div>
    <p>
        <span *ngIf="address.addressLine1">{{ address.addressLine1 }}</span><span *ngIf="!address.addressLine1"><span class="badge badge-danger">Name</span></span>
    </p>
    <br />
    <p>
        <span *ngIf="address.addressLine2">{{ address.addressLine2 }}</span><span *ngIf="!address.addressLine2"><span class="badge badge-danger">Address</span></span>
    </p>
    <p>
        <span *ngIf="address.zip">{{ address.zip }}&#32;</span><span *ngIf="!address.zip"><span class="badge badge-danger">Postcode</span></span><span *ngIf="address.city">{{ address.city }},&#32;</span><span *ngIf="!address.city"><span class="badge badge-danger">City</span></span><span *ngIf="address.state">{{ address.state }}</span><span *ngIf="!address.state"><span class="badge badge-danger">State</span></span>
    </p>
    <p>
        <span *ngIf="address.country">{{ address.country | uppercase }}</span><span *ngIf="!address.country"><span class="badge badge-danger">Country</span></span>
    </p>
</div>
