<div class="row">
    <div id="billing" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-left">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <p><strong>Billing to</strong></p>
            <address [address]="customer.order.billingAddress"></address>
        </div>        
    </div>
    <div id="shipping" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-left">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <p><strong>Shipping to</strong></p>
            <address [address]="customer.order.shippingAddress"></address>
        </div>
    </div>
</div>
