<div>
    <p *ngIf="shippingAddress == billingAddress">
        <span class="badge badge-info">Shipping to Billing Address</span>
    </p>
    <div *ngIf="shippingAddress != billingAddress">
        <p>
            <span *ngIf="shippingAddress.firstName">{{ shippingAddress.firstName }}&#32;</span><span *ngIf="!shippingAddress.firstName"><span class="badge badge-danger">First Name</span></span><span *ngIf="shippingAddress.lastName">{{ shippingAddress.lastName }}</span><span *ngIf="!shippingAddress.lastName"><span class="badge badge-danger">Last Name</span></span>
        </p>
        <br />
        <p *ngIf="shippingAddress.companyName"><strong>{{ shippingAddress.companyName }}</strong></p>
        <p>
            <span *ngIf="shippingAddress.streetName">{{ shippingAddress.streetName }}&#32;</span><span *ngIf="!shippingAddress.streetName"><span class="badge badge-danger">Street Name</span></span><span *ngIf="shippingAddress.houseNumber">{{ shippingAddress.houseNumber }}</span><span *ngIf="!shippingAddress.houseNumber"><span class="badge badge-danger">House Number</span></span>
        </p>
        <p *ngIf="shippingAddress.additionalAddressLine">
            <span>{{ shippingAddress.additionalAddressLine }}</span>
        </p>
        <p>
            <span *ngIf="shippingAddress.postcode">{{ shippingAddress.postcode }}&#32;</span><span *ngIf="!shippingAddress.postcode"><span class="badge badge-danger">Postcode</span></span><span *ngIf="shippingAddress.city">{{ shippingAddress.city }},&#32;</span><span *ngIf="!shippingAddress.city"><span class="badge badge-danger">City</span></span><span *ngIf="shippingAddress.municipality">{{ shippingAddress.municipality }}</span><span *ngIf="!shippingAddress.municipality"><span class="badge badge-danger">Municipality</span></span>
        </p>
        <p>
            <span *ngIf="shippingAddress.country">{{ shippingAddress.country | uppercase }}</span><span *ngIf="!shippingAddress.country"><span class="badge badge-danger">Country</span></span>
        </p>
    </div>
</div>



