<div>
    <div>
        <p>
            <span *ngIf="address.firstName">{{ address.firstName }}&#32;</span><span *ngIf="!address.firstName"><span class="badge badge-danger">First Name</span></span><span *ngIf="address.lastName">{{ address.lastName }}</span><span *ngIf="!address.lastName"><span class="badge badge-danger">Last Name</span></span>
        </p>
        <br />
        <p *ngIf="address.companyName"><strong>{{ address.companyName }}</strong></p>
        <p>
            <span *ngIf="address.streetName">{{ address.streetName }}&#32;</span><span *ngIf="!address.streetName"><span class="badge badge-danger">Street Name</span></span><span *ngIf="address.houseNumber">{{ address.houseNumber }}</span><span *ngIf="!address.houseNumber"><span class="badge badge-danger">House Number</span></span>
        </p>
        <p *ngIf="address.additionalAddressLine">
            <span>{{ address.additionalAddressLine }}</span>
        </p>
        <p>
            <span *ngIf="address.postcode">{{ address.postcode }}&#32;</span><span *ngIf="!address.postcode"><span class="badge badge-danger">Postcode</span></span><span *ngIf="address.city">{{ address.city }},&#32;</span><span *ngIf="!address.city"><span class="badge badge-danger">City</span></span><span *ngIf="address.municipality">{{ address.municipality }}</span><span *ngIf="!address.municipality"><span class="badge badge-danger">Municipality</span></span>
        </p>
        <p>
            <span *ngIf="address.country">{{ address.country | uppercase }}</span><span *ngIf="!address.country"><span class="badge badge-danger">Country</span></span>
        </p>
    </div>
</div>



