<div class="container-fluid">
    <div class="col-md-12">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Cart</h4>
                </div>
                <div class="panel-body">
                    <table *ngIf="cart" class="table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th></th>
                                <th class="text-right">Price</th>
                                <th class="text-center">Qty</th>
                                <th class="text-right">Total</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="cart.products">
                            <tr *ngFor="let product of cart.products">
                                <td style="vertical-align:middle">{{ product.id }}</td>
                                <td style="vertical-align:middle">{{ product.name }}</td>
                                <td class="text-center col-md-3" style="vertical-align:middle">
                                    <img src="" title="{{ product.name }} ({{ product.id }})" alt="" />
                                </td>
                                <td class="text-right" style="vertical-align:middle">{{ product.price / 100 | currency:'EUR':true }}</td>
                                <td *ngIf="!isSummary" class="text-center" style="vertical-align:middle"><span class="badge">{{ product.quantity }}</span></td>
                                <td *ngIf="isSummary" class="text-center" style="vertical-align:middle">
                                    <form class="form-inline">
                                        <div class="input-group spinner">
                                            <button class="input-group-addon" (click)="cart.decreaseProductQuantity(product)">-</button>
                                            <span class="input-group-addon">{{ product.quantity }}</span>
                                            <button class="input-group-addon" (click)="cart.increaseProductQuantity(product)">+</button>
                                        </div>
                                    </form>
                                </td>
                                <td class="text-right" style="vertical-align:middle">{{ product.price * product.quantity / 100 | currency:'EUR':true }}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th colspan="6" class="text-right cart-total">{{ cart.total / 100 | currency:'EUR':true }}</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

