<div class="container-fluid">
    <table class="table" id="cart">
        <thead>
            <tr>
                <th></th>
                <th>Product</th>
                <th></th>
                <th class="text-right">Total</th>
                <th></th>
            </tr>
        </thead>
        <tbody *ngIf="cart.total > 0">
            <tr *ngFor="let product of cart.products; let i = index" title="{{ product.name }} ({{ product.id }})">
                <td class="text-center" style="vertical-align:middle">
                    <div class="form-group">
                        <label>
                            <input #box type="number" class="form-control" value="{{ product.quantity }}" min="1"
                                   (blur)="cart.updateProductCount(product, box.value)"
                                   (click)="cart.updateProductCount(product, box.value)"
                                   (keyup.enter)="cart.updateProductCount(product, box.value)"
                                   (keypress)="keyPress($event)" />
                        </label>
                    </div>
                </td>
                <td style="vertical-align:middle">
                    <span>{{ product.name }}</span>
                </td>
                <td class="text-center" style="vertical-align:middle">
                    <img src="/assets/img/{{ product.id }}.jpg" title="{{ product.name }} ({{ product.id }})" alt="{{ product.name }} ({{ product.id }})" style="max-width:80%; max-height:20%" />
                </td>
                <td class="text-right" style="vertical-align:middle">{{ product.price * product.quantity / 100 | currency:cart.currency:true }}</td>
                <td class="text-center" style="vertical-align:middle">
                    <button class="btn btn-danger" (click)="cart.discardProduct(product)"><div class="glyphicon glyphicon-trash"></div></button>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th colspan="7" class="text-right cart-total">{{ cart.total / 100 | currency:cart.currency:true }}</th>
            </tr>
        </tfoot>
    </table>        
</div>

