<div class="component component-{{ customer.cart.subTotal > 0 && customerDetailsComplete ? 'success' : 'warning'}}">
    <div *ngIf="customer.cart.subTotal == 0" class="row text-justify">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <p>Oh no! You cannot check out yet.</p>
                <br />
                <ul class="list-group">
                    <label>To do:</label>
                    <li *ngIf="customer.cart.subTotal == 0" class="list-group-item"><a [routerLink]="['', {outlets: {primary: 'shop', contextMenu: 'shop'}}]">Continue Shopping</a> and put something in the cart.</li>
                </ul>
            </div>
        </div>        
    </div>
    <div *ngIf="customer.cart.subTotal > 0" class="row text-justify">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <form>
                    <div class="checkbox">
                        <label>
                            <input #gtcConsentInput type="checkbox"
                                   [checked]="customerAgreesWithGtc"
                                   (click)="configureCheckout(gtcConsentInput.checked)" />I have read and agree with the <a href="#" target="_blank">General Terms &amp; Conditions</a>. My Billing &amp; Shipping Details are correct and I want to continue with the payment of {{ customer.cart.grandTotal / 100 | currency:customer.cart.currency:true }}.
                        </label>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <ng-template checkout-solution-host></ng-template>
</div>
