<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 text-right">
            <form id="ckoFramesPaymentForm" method="POST" action="https://merchant.com/charge-card">
                <div class="row">
                    <div id="ckoFramesContainer" class="col-md-6 pull-right"></div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <button class="btn btn-success" id="ckoFramesPayNowButton" type="submit" disabled>Place Order now</button>
                    </div>
                </div>
            </form>
        </div>        
    </div>
</div>
  