<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-right">
        <form id="ckoPaymentForm" method="POST" action="https://merchant.com/successUrl">
            <div class="row">
                <div class="col-md-6 pull-right"></div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <button class="btn btn-success" id="ckoPayButton" disabled>Place Order Now</button>                   
                </div>
            </div>
        </form>
    </div>
</div>    
  