<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <customer-summary [customer]="customer"></customer-summary>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="cartSummary" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <cart-summary [customer]="customer"></cart-summary>
        </div>
    </div>
</div>


