<div class="container-fluid">
    <div class="row">
        <div class="nav-content row col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <nav-menu [customer]="customer" [customerDetailsComplete]="customerDetailsComplete"></nav-menu>
        </div>
    </div>
    <div class="row" style="height:100%">
        <div class="body-content side-bar-{{ sideBarOpen ? 'open' : 'closed' }}">
            <router-outlet></router-outlet>
        </div>
        <div class="side-bar side-bar-{{ sideBarOpen ? 'open' : 'closed' }} col-lg-4 col-md-5 col-sm-12 col-xs-12">
            <router-outlet name="contextMenu"></router-outlet>
        </div>
    </div>
    <br />
    <br />
    <br />
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <dashboard [solutions]="solutions" [customer]="customer" [paymentTokenId]="paymentTokenId" [paymentTokenCountdown]="paymentTokenCountdown" [customerDetailsComplete]="customerDetailsComplete" [log]="log"></dashboard>
        </div>
    </div>
</div>
